<div >
    <div class="row ">
        <div class="col-4"></div>
        <div class="bk col-4 border border-5  mt-5 shadow-lg  ">
            <div class="text-center">
            <img class="img mt-4" src="../../assets/bank.jfif" alt="">
            </div>
            <h4 class="h4 text-center mb-4 mt-2">My Bank</h4>
            <h6 class="text-center">{{aim}}</h6> <!--interpolation-->
            <input [(ngModel)]="acno" type="text" class="form form-control mb-3 shadow-lg" id="login_acno" [placeholder]="account">  <!--property binding-->
            <input [(ngModel)]="pswd" type="password" class="form form-control mb-3 shadow-lg" id="login_pswd" placeholder="password">
            <div class="d-grid gap-2">
                <button type="button" class="btn btn-primary mb-3 shadow-lg" (click)="login()">Login</button>
            </div>
            <div  class=" text-center mb-4">
                <!-- <a href="#" style="text-decoration:none;">Forgot password?</a> or -->
                <a outer routerLink="register" style="text-decoration:none;">Sign up</a>
            </div>
            
        </div>
        <!-- <div class="col-4"></div> -->
    </div>
</div>
<app-register></app-register>
